body{
background-image:url("/home/Sem6B12/Downloads/coffee.jpg");
background-repeat:no-repeat;
background-attachment:fixed;
background-attachment:scroll;
}
h1{
color:maroon;
margin-left:10px;
}
p.ya{
color:#36C;
text-decoration:overline;
}
table{
color:red;
margin-left:20px;
}
h4{
color:#00FF00;
}
.diya
{
color:#00FF00;
}
